<style>
*{
    color: darkslategrey;
}
@page{
    background: white;
    size: 21cm 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
}
#docname{
    width: 100%;
}
#portrait >svg,img{
    position: absolute;
    width: 15%;
    margin-top: -1.5em;
    margin-left: 1em;
}
#portrait > svg{
    stroke: {{ options.color_primary }};
    stroke-width: 2px;
    fill: none;
}
#portrait > img{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10pt;
    margin: 5px;
}

h1{
    font-size: 150%;
    font-weight: 600;
    margin: 0;
}

h2{
    font-size: 120%;
    font-weight: 600;
    page-break-after: avoid;
    margin: 0;
}

h3{
    font-size: 100%;
    font-weight: 600;
    margin: 0;
}

h5{
    font-size: 80%;
    margin: 0;
    padding: 0 1em 0 0;
}

i{
    padding-right: 5px;
    align-self: center;
}

.stub{
    margin-left: 1em;
    display: flex;
}
.stub::before{
    border-bottom: {{ options.color_primary }} solid 2px;
    width: 0.5em;
    height: 0.4em;
    content: " ";
    margin-right: 0.5em;
    margin-left: -1em;
    /*I have no idea why this needs to be here
    The pseudo element gets the 'margin-left:1em' from for some reason.
    position: absolute // To escape flex flow.*/
}
strong{
    font-weight: 600;
}
.column{
    width: 50%;
}
ul{
    margin: 0;
    padding-left: 1.5em;
}
li{
    margin: 0;
}
.tree {
    width: 100%;
}
.leaf {
    margin: 0;
    border-left: {{ options.color_primary }} solid 2px;
}
.leaf > :not(.stub){
    margin-left: 2em;
}
.leaf:last-of-type {
    border-left: none;
}
.leaf:last-of-type::before{
    height: 0.5em;
    border-left: {{ options.color_primary }} solid 2px;
    position: absolute;
    content: " ";
}
.column>.leaf:first-of-type{
    padding-top: 1em;
}
{% if options.show_portrait and cv.basics.image %}
 /* Padding out area under portrait */
#contact {
    padding-left: 140px; 
}
#profiles{
    padding-left: 120px; 
}
{% endif %}
#profiles{
    width: auto;
    font-size:105%; 
}
.flex{
    display: flex;
}
.flex--between{
    justify-content: space-between;
}
.flex--around{
    justify-content: space-around;
}
.flex__body{
    margin-left: 1.5em;
}
.flex--col{
    flex-direction: column;
}
.icon{
    display: none;
}
.align-right{
    text-align: end;
}
.yearrange{
    font-style: italic;
    color: grey;
    white-space: nowrap;
    margin-left: 0.5em;
    font-size: 90%;
    font-weight: 100;
}
p{
    margin: 0;
}
.hline{
    border-bottom: {{ options.color_primary }} 2px solid;
}

@media print{
    body{
        width: 680px;
    }
}
</style>